
<%= form_for(@newQuote, remote: true, html: {class: 'form-horizontal', id: 'new_quote'}) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
      <h4>
        <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %>
      </h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :quote, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :quote, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :source, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :source %>
    </div>
  </div>  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Quote it!", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>


