<div class="jumbotron">
  <p><%= @username %>'s Favorite Quote:</p>
  <p><%= @user.favorite_quote %></p>
  <p><%= @user.favorite_quote_source %></p>
  <%= @avatar %>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= @avatar %> <%= render '/partials/follow_button', :user => User.find_by_username(params[:id]) %></p>
        <p>About <%= @username %></p>
        <p><%= @user.about %></p>
        <p>Followers: <%= @user.followers.count %></p>
        <p>Following: <%= @user.following.count %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div><%= render "partials/new_quote" %></div>
      </div>
    </div>
    <% for @quote in @quotes %>    
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render "partials/display_quote" %>
        </div>
      </div> 
    <% end %>   
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of users to follow</p>
      </div>
    </div>
  </div>
</div>


<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>


          