<div class="jumbotron">
  <h2><%= @username %>'s Favorite Quote:</h2>
  <div class="favorite">
    <p class="quote"><%= @user.favorite_quote %></p>
    <p class="source">~ <%= @user.favorite_quote_source %></p>
  </div>


</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>About <%= @username %>:</h4>
        <p><%= @user.about %></p>
        <p><%= render '/partials/follow_button', :user => User.find_by_username(params[:id]) %></p>
        <span>Followers: <%= @user.followers.count %> | </span>
        <span>Following: <%= @user.following.count %></span>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <% if current_user == @user %>

      <div class="panel panel-default">
        <div class="panel-body">
            <div><%= render "partials/new_quote" %></div>
        </div>
      </div>
    <% end %>
    <% for @quote in @quotes %>    
        <div id="quotes">
          <%= render "partials/display_quote" %>
       </div>
    <% end %>   
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "partials/users_to_follow" %>
      </div>
    </div>
  </div>
</div>
